/*#image {
body{
        margin-top: -120px;
        text-align: left;

        padding: 200px;
        margin-right: 100px;
      }

 */


body {text-align: left;
    margin-top: -120px;
    padding: 200px;
    margin-right: 100px;
    }
#main {
    background: #eee;
}
.header {
    text-align: center; }


#title{
    font-size: 64px;
}
/*#img-div {
    border: white solid 1px;
    background: white;
    padding: 3px;
    text-align: center;
    margin: 30px;
}*/
#img-caption {font-size: 18px;}

p{
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
.image {  display: inline-block;
    height: auto;
    max-width: 100%;}
#img-div{  border: white solid 1px;
    background-color: white;
    padding: 3px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;}
#tribute-info{}